/* Reset CSS --------------------------------------------------------------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.offset::before{
    display: block;
    content: "";
    height: 0rem;
}

/* navbar ----------------------------------------------------------------------------------------------------------------------------------------*/

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    /* background: transparent; */
    padding: 10px 60px;
    transition: 0.5s all ease;
    z-index: 100000;
}

.nav .scrolled{
    background: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
}

/* navbar logo  */

.nav .logo{
    font-size: 40px;
    font-weight: 600;
}

.container{
    border: red 3px solid;
    border-radius: 12px;
    height: 52px;
    width: 170px;
    background-color: black;
}

.container:hover{
    border: black 3px solid;
    border-radius: 12px;
    height: 52px;
    width: 170px;
    background-color: white;
}

.container a.logo{
    padding: 0 8px;
    color: white;
}

.container a.logo:hover{
    padding: 0 8px;
    color: red;
}

.container a:hover{
    padding: 0 10px;
    color: white;
}

/* ham burger -------------------------------------------------------------------------------------------------------------------------------------------*/

.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
}

.nav .navbar-toggler .toggler-icon{
    width: 27px;
    height: 3px;
    background-color: black;
    margin: 5px;
    position: relative;
    display: block;
    transition: 0.3s all ease-out 0s;
}

/* menu bar -------------------------------------------------------------------------------------------------------------------------------*/

.nav .menu-bar .menu-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .menu-bar .menu-items li{
    margin: 0 15px;
    list-style: none;
}

.nav .menu-bar .menu-items li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    /* border: 3px solid red;
    border-radius: 10px;
    padding: 2px 8px; */
}

.nav .menu-bar .menu-items li a .home-span{
    color: red;
}

.nav .menu-bar .menu-items li a:hover{
    color: red;
}

/* social icons  -----------------------------------------------------------------------------------------------------------------*/

.navbar-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-social span{
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    color: red;
}

.navbar-social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-social ul li{
    margin: 0 15px;
    list-style: none;
}

.navbar-social ul li a{
    color: black;
    font-size: 20px;
}

/* home section -------------------------------------------------------------------------------------------------------------------------- */

.back{
    background-image: url('home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.over{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent 0%, transparent, rgba(255,255,255,1) 81%);
}

.hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hero-shape img{
    width: 100%;
    display: block;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h2{
    font-size: 50px;
    margin: 6px 0px;
    text-align: center;
}

.hero-text h6{
    font-size: 15px;
    margin: 15px 0px 15px 0px;
    text-align: center;
}

/* main button ------------------------------------------------------------------------------------------------------------------------- */

.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 38px;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0%;
}

.header-btn{
    margin: 0px 0px 0px 0px;
}
.main-btn .header-btn{
    margin: 22px;

}

.hero-text .header-btn li{
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.hero-text .header-btn li a.main-btn{
    text-decoration: none;
    overflow: hidden;
    border: 3px solid red;
    border-radius: 20px;
    background: #000;
}

.hero-text .header-btn li a.main-btn:hover{
    text-decoration: none;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
    background: white;
    color: red;
}

.hero-text .header-btn li a.main-btn i{
    margin-left: 5px;
    color: red;
}

.hero-text .header-btn .btn-one{
    color: white;
}

/* .hero-text .header-btn .btn-one::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(200,200,212,1) 0%, rgba(80,207,238,1) 0%, rgba(48,48,55,1) 0%, rgba(0,166,210,1) 66%, rgba(249,249,249,1) 100%);
} */



/* services -------------------------------------------------------------------------------------------------------------- */

#wrapper{
    margin: 5rem 7rem 10rem 5rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service h3{
    font-size: 3rem;
}

.service h6 {
    margin: 1rem 0 3rem 0;
    font-size: 1.2rem;
    font-weight: 250;
    width: 65%;
}

.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .service-content .box .box-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service .service-content .box .box-one .services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535CF1;

}

.service .service-content .box .box-one .services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .service-content .service-img{
    width: 40%;
}

.service .service-content .service-img img{
    width: 100%;
}


/* pricing--------------------------------------------------------------------------------------------------------------- */


.pricing .see-more{
    margin: 2rem auto;
    width: 170px;
}

.pricing .see-more a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
    text-decoration: none;
    padding: 10px 20px;
}

.pricing .basic:hover .see-more a{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}

.pricing unlimited:hover .see-more a{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}

.pricing .standard .see-more a{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}

.pricing{
    display: block;
    text-align: center;
}

.pricing .table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pricing h3{
    font-size: 3rem;
    margin-top: 2.5rem;
}

.pricing h6 {
    margin: 2rem 0rem 6rem 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
}

.pricing .basic{
    width: 355px;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.pricing .basic h4{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: red;
    transition: all ease 0.6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    font-size: 3rem;
}

.pricing .basic:hover h4{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}

.pricing .unlimited:hover h4{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}

.pricing .standard h4{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    color: #fff;
}

.pricing .basic .price{
    display: block;
    text-align: center;
    padding: 20px 0;
}

.pricing .basic .price .sing{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}
.pricing .basic .price .currency{
    font-size: 60px;
    font-family: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}
.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}
.pricing .basic .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.pricing .basic ul li{
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
    list-style: none;
}

.pricing .basic ul li i{
    color: #535CF1;
    padding-right: 5px;
}

/* call to act ---------------------------------------------------------------------------------- */

.callToAct{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910AFA), url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 500px;
    border-radius: 20px;
}

.callToAct .parallax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.callToAct .parallax h3{
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.callToAct .parallax p{
    font-size: 21px;
    color: #fff;
    margin-bottom: 20px;
}

.callToAct .parallax .call-news{
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    border-radius: 50px;
    padding: 12px 0 12px 15px;
    position: relative;
}

.callToAct .parallax .call-news i{
    color: #535CF1;
    padding-right: 10px;
    font-size: 18px;
}

.callToAct .parallax .call-news input{
    border: none;
    outline: none;
    font-size: 18px;
}

.callToAct .parallax .call-news button{
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 25px;
}

/* contact ------------------------------------------------------------------------------------------------ */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h3{
    font-size: 3rem;
    margin: 15px;
}

.contact h6 {
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 100;
    margin-bottom: 35px;
}

.contact .form{
    width: 70%;
}

.contact .form .first-row, .contact .form .second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.contact .form .first-row input, .contact .form .second-row input{
    width: 47%;
    height: 55px;
    border: 2px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
}

.contact .form textarea{
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
    padding-top: 15px;
}

.contact .form button{
    margin: 12px auto;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
    font-size: 20px;
    background-image: linear-gradient(to right, #535cF1, #A147E4);
    color: white;
}

.contact .form button:hover{
    margin: 12px auto;
    width: 150px;
    border: 2px solid red;
    border-radius: 15px;
    padding: 6px;
    font-size: 20px;
    color: black;
    background: white;
}



footer{
    background-color: #e2e8eb;
    padding: 7rem;
}

footer .logo{
    font-size: 40px;
    font-weight: 600;
}

footer .logo-f{
    border: red 3px solid;
    border-radius: 12px;
    height: 52px;
    width: 170px;
    background-color: black;
}

footer .logo-f a.logo {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-left: 10px;
    margin-top: 12px;
}

footer .row-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.f-ul{
    margin-top: 20px;
}

footer .row-one a{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 26px;
    color: #6c6c6c;
}

footer .row-one ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    align-items: center;

}


footer .row-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .row-two h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 20px;
    padding-top: 30px;
}

footer .row-two li{
    list-style: none;
}

footer .row-two li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    text-decoration: none;
    padding-bottom: 12px;
}


footer .row-two .first-row:nth-child(4){
    max-width: 300px;
}

footer .row-two .newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
}

footer .row-two .newsletter input{
    width: 100%;
    height: 44px;
    border-radius: 50px;
    padding: 0 24px;
    outline: none;
    border: 0;
    background-color: rgba(33, 33, 33, 0.12);
    font-weight: 500;
}

footer .row-two .newsletter input::placeholder{
    opacity: 1;
    color: #6c6c6c;
}

footer .row-two .newsletter button{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    font-size: 20px;
    color: #121212;
    background-color: none;
    cursor: pointer;
}

footer .row-two .newsletter button:hover{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: red;
    background-color: white;
    cursor: pointer;
}

footer .row-two .text{
    margin-top: 16px;
}

.copyright{
    background: #2b354f;
    padding: 23px 0;
}

.copyright p{
    text-align: center;
    color: white;
}

.copyright p a{
    color: red;
}


.row-two .first-row{
        padding-right: 12px;
}



/* responsive ----------------------------------------------------------------------------------- */

@media only screen and (max-width: 990px){



    /* nav ------------------------------------------------------------------------------------ */

    .nav{
    padding: 1rem 3rem;
    }
    .nav .navbar-social {
        display: none;
    }

    /* .hero-shape img {
        width: 100%;
        display: block;
        height: 90px;
    } */

    /* home section -------------------------------------------------------------------------------- */
    .hero-text{
        width: 60%;
    }
    
    .hero-text h2{
        font-size: 33px;
    }

    /* service ----------------------------------------------------------------------------------------- */
    #wrapper{
        margin: 3rem 3rem 10rem 3rem;
    }
    
    .service {
        margin-bottom: 3rem;
    }
    
    .service h6 {
        margin-bottom: 3rem;
    }

    .service .service-content{
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .service .service-content .box{
        width: 100%;
    }
    
    .service .service-content .box .box-one{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    

    .service .service-content .service-img{
        width: 100%;
        margin-bottom: 5rem;
    }
    
    /* pricing ------------------------------------------------------------------------------------- */
    
    .pricing .table{
        justify-content: space-evenly;
    flex-wrap: wrap;
    }
    
    /* call to act -------------------------------------------------------------------------------------- */
    .callToAct{
        margin-bottom: 5rem;
    }
    
    .callToAct .parallax{
        width: 80%;
    }

    /* contact ------------------------------------------------------------------------------------------------ */


.contact .form{
    width: 80%;
    }  
}


@media only screen and (max-width: 746px){
    .hero-shape img {
        width: 100%;
        display: block;
        height: 60px;
    }
}

@media only screen and (max-width: 622px){
    .hero-shape img {
        width: 100%;
        display: block;
        height: 56px;
    }
}

@media only screen and (max-width: 690px){
    
    .nav{
        padding: 0.7rem 1rem;

    }

    .hero-shape img {
        width: 100%;
        display: block;
        height: 55px;
    }
    
    /* ham burger -------------------------------------------------------------------------------------------------------------------------------------------*/
    
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 1000000;
    }
    
    /* menu bar -------------------------------------------------------------------------------------------------------------------------------*/
    
    .nav .menu-bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transition: all 0.6s ease;
    }

    .nav .menu-bar .menu-items{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: justify;
        padding: 40px 0;
    }

    .nav .menu-bar .menu-items li{
        margin: 2rem 30px;
    }
    
    /* home section -------------------------------------------------------------------------------- */
    .hero-text{
        width: 80%;
    }
    
    .hero-text h2{
        font-size: 25px;
    }

    .hero-text h6{
        font-size: 15px;
        font-weight: 100;
    }

/* service ----------------------------------------------------------------------------------------- */
        #wrapper{
            margin: 3rem 1rem 10rem 1rem;
        }
        
        
        .service h3 {
            font-size: 33px;
        }

        .service h6 {
            font-size: 16px;
                }        
    
        .service .service-content .service-img{
            width: 90%;
            margin-bottom: 5rem;
        }
        
        /* pricing ------------------------------------------------------------------------------------- */
        
        .pricing h3{
            font-size: 33px;
        }

        .pricing h6{
            font-size: 16px;
        }

        .pricing .table{
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        }
        
        /* call to act -------------------------------------------------------------------------------------- */

        .callToAct .parallax{
            width: 90%;
        }

        .callToAct .parallax h3{
            font-size: 33px;
        }

        .callToAct .parallax p{
            font-size: 16px;
            font-weight: 400;
        }

        .callToAct .parallax .call-news input {
            font-size: 16px;
        }

        .callToAct .parallax .call-news button {
            font-size: 12px;
        }

        .callToAct .parallax .call-news {
            width: 385px;
            padding: 10px 0 10px 8px;
            flex-wrap: wrap;
        }
    
        /* contact ------------------------------------------------------------------------------------------------ */
    
    
    .contact .form{
        width: 80%;
    }  

    .contact h3{
        font-size: 33px;
        }  

    .contact h6{
        font-size: 16px;
        }  

        .contact .form button.submit{
            font-size: 16px;
        }

        footer{
            padding: 4rem 1rem;
        }

        
footer .row-two {
    flex-wrap: wrap;
    margin-top: 2rem;
}

footer .row-two .first-row:nth-child(4) {
    margin-bottom: 1rem;
}
}

@media only screen and (max-width: 636px){
    .hero-shape img {
        width: 100%;
        display: block;
        height: 39px;
    }
    .hero-shape{
        height: 20px;
    }
}

@media only screen and (max-width: 413px){
    .hero-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 41px;
    }
}



@media only screen and (max-width: 417px){
    .hero-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
    }
    .back {
        background-image: url(home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 97vh;
    }
}

@media only screen and (max-width: 300px){
    .hero-shape {
        height: 37px;
    }
    .hero-shape img{
        width: 100%;
        display: block;
        height: 34px;
    }
}


@media only screen and (max-width: 430px){
    .hero-shape{
        display: none;
    }
    .hero-shape img{
        display: none;
    }
}

@media only screen and (min-width:0px) and (max-width: 430px){
    .hero-shape {
        display: none;
    }
    .hero-shape img{
        display: none;
    }
}

/* @media only screen and (mix-width: 219px) and (max-width:){
    .hero-shape {
        height: 35px;
    }
    .back{
        height: 96vh;
    }
} */





@media only screen and (max-width: 424px){
    .back {
        background-image: url(home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 97vh;
    }
}


@media only screen and (max-width: 415px){
    .back {
        background-image: url(home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 97vh;
    }
}


@media only screen and (max-width: 396px){
    .hero-shape img {
        width: 100%;
        display: block;
        height: 38px;
    }
    .container{
        display: none;
    }
}


@media only screen and (max-width: 510px){
    .container{
        display: none;
    }
    .nav{
        position: fixed;
        background: white;
        height: 65px;
    }
}

@media only screen and (min-width: 616px) and (max-width: 436px){
    .hero-text h2 {
        font-size: 17px;
        line-height: 10px;
        margin-top: 50px;
    }

    .hero-text .header-btn li a.main-btn {
        margin-top: 0.7rem;
}

.hero-shape img {
    width: 100%;
    display: block;
    height: 90px;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h6{
    text-align: justify;
}

.service .service-content .box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.service .service-content .box .box-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .service .service-content .service-img{
    width: 40%;
}

.service .service-content .service-img img{
    width: 100%;
} */

.pricing .basic {
    width: 300px;
    height: 100%;

}

.callToAct .parallax .call-news button {
    padding: 0px 5px;
    margin: 2px;
}

.callToAct .parallax .call-news button {
    padding: 0px 5px;
    margin: 0 0 3px 0;
}

.callToAct .parallax .call-news {
    padding: 0;
    width: 100%;
}

.callToAct .parallax .call-news i {
    padding-right: 0px;
}

.fa-envelope:before {
    font-size: 13px;
}

.contact .form {
    width: 100%;
}

.contact .form .first-row, .contact .form .second-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .first-row input, .contact .form .second-row input {
    width: 100%;
    margin-bottom: 2rem;
}

.contact .form .first-row, .contact .form .second-row {
    margin: 0 0;
}


footer .row-two .first-row:nth-child(4) {
    margin-top: 2rem;
}

footer .row-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

footer .row-one ul {
    margin-top: 25px;
}

}


@media only screen and (max-width: 300px){
    .hero-text h2 {
        font-size: 16px;
    }

    .pricing h6 {
        font-size: 15px;
    }

    .pricing .basic {
        width: 250px;
        height: 100%;
    }

    .callToAct .parallax .call-news input {
        font-size: 10px;
    }

    .fa-envelope:before {
        font-size: 13px;
    }

    .callToAct .parallax .call-news i {
        padding-right: 3px;
    }

    .callToAct .parallax .call-news button {
        padding: 0px 5px;
        margin: 0 0 3px 0;
    }
    .container{
        display: none;
    }
}




























